@tailwind base;
@tailwind components;
@tailwind utilites;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  @apply m-12;
}

.cm-editor {
  @apply h-48 mb-12 text-base;
}

h1 {
  @apply text-3xl my-8 font-bold;
}

p {
  @apply mb-4;
}

ol {
  @apply list-disc ml-8 mb-4;
}

li {
  @apply mb-1;
}

a {
  @apply text-blue-500 underline;
}